services:
  mysql:
    image: mysql:8.1
    ports:
      - "3306:3306"
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_USER: studb103
      MYSQL_PASSWORD: abc123
      MYSQL_DATABASE: db103
